# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so
__pycache__/
*.py[cod]

.venv/
venv/
.idea/
.vscode/

.env
.env.*
!.env.example

data/*
!data/*/
!data/*/.gitkeep
cv_files/*
!cv_files/*/
!cv_files/*/.gitkeep

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

